:root {
  --white: #ffffff;
  --black: #000000;
  --smoke: #F4F5EF;
  --gray: #E5E5E5;

  --primary: #2F505E;
  --second: #D75E5B;
  --text-body: #282828;

  --radius: 5px;
}

/* Base Setting
---------------------------------------- */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: rem(16px);
  font-family: 'Arial', sans-serif;
  overflow-wrap: break-word;
  font-weight: 400;
  color: var(--text-body);
  overflow-x: hidden;
  line-height: 1.5;
  position: relative;
  width: 100%;
  background: var(--white);
}

a {
  transition: all 0.3s;
  color: var(--primary);
  outline: none !important;

  &:hover {
    opacity: 1;
    color: var(--second);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arial', serif;
  font-weight: 700;
  color: var(--primary);
}

h1 {
  font-size: rem(36px);
  line-height: 1.3;

  @include breakpoint(tablet) {
    font-size: rem(46px);
  }
}

h2 {
  font-size: rem(40px);
  line-height: 1.15;

  @include breakpoint(tablet) {
    font-size: rem(56px);
  }
}

h3 {
  font-size: rem(34px);
  line-height: 1.16;

  @include breakpoint(tablet) {
    font-size: rem(40px);
  }
}

h4 {
  font-size: rem(28px);
  line-height: 1.16;

  @include breakpoint(tablet) {
    font-size: rem(36px);
  }
}

h5 {
  font-size: rem(20px);
  line-height: 1.2;

  @include breakpoint(tablet) {
    font-size: rem(24px);
  }
}

h6 {
  font-size: rem(18px);
  line-height: 1.3;

  @include breakpoint(tablet) {
    font-size: rem(20px);
  }
}

img {
  max-width: 100%;
  vertical-align: bottom;
}
